.numberContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}
.numberContainer p {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.scoreGameContent {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.gameNumbers {
  background-color: black;
  width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}
.gameNumber {
    background-color: white;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}